*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  background-color: #424242;
}
h3{
  color:#FFD700;
  font-size: 30px;
}

.carousel{
  margin: 30px 15px;
}

.carousel-caption{
  padding-left: 200px;
}

.info{
display: unset;
}

.featurates{
  height: auto;
  width: 50%;
  opacity: 8%;
}

.title{
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    position: relative;
    text-align: center;

}
.box-movie{
  position: relative;
  text-align: center;
  padding: 5%;
}

.hide{
  display: none;
}
#result {
    color: blanchedalmond;
    font-size: 30px;
}

#movie-of-week{
  background-image: url("./images/Solaris.png");
  background-size: auto;

}

#complete-information{
  width: 100%;
  display: inline-block;
}

#catalogue{
  width: 50%;
  display: inline-block;
}

.information-catalogue, .movies-catalogue{
  widows: 50%;
  display: inline-block;
}